*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}
@media (max-width:500px) {
    body{
       font-size: 12px; 
    }
}
@media (max-width:375px) {
    body{
       font-size: 12px; 
    }
}
main{
    margin: auto 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width:500px) {
    main{
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width:375px) {
    main{
        flex-direction: column;
        gap: 0;
    }
}
.items{
    border:2px solid;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
}
@media (max-width:500px) {
    .items{
        gap:.5rem ;
    }
}
@media (max-width:375px) {
    .items{
        gap:.5rem ;
    }
}
img{
    width: 3rem;
    height: 2rem;
}
.first---container{
    background-color: hsl(31, 77%, 52%);
    border-color: hsl(31, 77%, 52%);
}
.second---container{
    background-color: hsl(184, 100%, 22%);
    border-color: hsl(184, 100%, 22%);
}
.third---container{
    background-color: hsl(179, 100%, 13%);
    border-color: hsl(179, 100%, 13%);
}
.items p{
    font-family: 'Big Shoulders Display', cursive;
}
@media (max-width:375px) {
    .items p{
        font-size: 10px;
    }
}
h1{
    font-family: 'Lexend Deca', sans-serif;
}
.button{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    padding: .3rem 0;
    width: 65%;
    border-radius: 25px;
    text-align: center;
}
.first---container .button{
    color: hsl(31, 77%, 52%);
}
.second---container .button{
    color: hsl(184, 100%, 22%);
}
.third---container .button{
    color: hsl(179, 100%, 13%);
}